.title {
    color: #4d9bea;
    font-size: 36px;
    font-weight: 700;
    font-family:Roboto;
}

.text {
    text-align: left;
    margin: 25px;
    color: #395776;
    font-size: 20px;
    font-family:Roboto;
}

.paragraf {
    margin-top: 50px;
}