.btn {
    margin-left: 20px;
    width: 30%;
    height: 40px;
    background-color: #878cb4;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: #FFF;
    border-radius: 15px;
}

.btn:hover {
    background-color: #FFF;
    color: #878cb4;
    border: 2px solid #878cb4;
}