.content {
    padding-top: 30px;
    padding-bottom: 10px;
}

.desc{
    margin: 20px 0 0 40px;
    text-align: left;
}

.desc *{
    margin-bottom: 10px;
    color: rgb(108, 126, 154);
}

.equipments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    padding-top: 60px;
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

.inpt_block {
    padding-top: 90px;
}

.inpts {
    display: flex;
    flex-direction: column;
    margin: 0 30%;
}

.factors {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    width: 80%;
}

.inpts * {
    margin-top: 30px;
}

.title {
    font-weight: bold;
    font-size: 25px;
    color: #4d9bea;
}