.head {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 55px;
    background-color: #4d9bea;
    font-family: Roboto;
    color: #FFF;
}

.logo {
    margin: 0 0 0 15px;
    font-size: 25px;
}

.logo:hover {
    opacity: 0.7;
}

.links {
    padding-right: 30px;
    font-size: 18px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    margin-left: 10px;
    color: #FFF;
    text-decoration: none;
}

.links a:hover{
    color: #aed7ff;
}

.nick {
    font-size: 20px;
}

.account img {
    height: 35px;
    width: 35px;
    margin: 0 20px 0;
}

.account img:hover {
    opacity: 0.7;
}